body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.container-fluid {
  padding: 2% 15%;
}

/* Шапка сайта */
#title {
  background-image: url(../css/bck/titletest.png);
}

.navbar {
  background-color: #23C2A7;
}

#title .name {
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
  font-weight: bold;
  transform: rotate(-15deg);
  margin-left: 20px;
  line-height: 1.9rem;
  color: #B35D3B;
}

#title .name:hover {
  color: #914C30;
}

.menu {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.6rem;
}

.text-title {
  color: #D9CFC3;
}

.body-title {
  margin-top: 40px;
}

.bodytitle {
  margin-top: 170px;
}

.butt {
  margin: 5% 3% 5% 0%;
  font-family: 'Roboto Slab', serif;
  background-color: #ff4c68;
  border-color: #ff4c68;
}
.butt:hover {
  background-color: #B8374A;
  border-color: #B8374A;
}


.video {
  border-radius: 10%;
  width: 100%;
}

/* Представление сайтика/контент */
#intro .container-fluid {
  padding: 7% 15%;
  background-color: #fff;
}

.icon {
  color: #00909e;
}

.icon:hover {
  color: #27496d;
}

/* Главная часть страницы с некой информацией */
#main {
  background-color: #abf0e9;
}

.table_pic {
  width: 15%;
  /* margin: 0 20px 20px 0; */
}
@media (max-width: 1200px) {
.table_pic {
  width: 20%;
}
}
@media (max-width: 990px) {
  .table_pic{
    width: 30%;
  }
}

@media (max-width: 800px) {
  .table_pic{
    width: 50%;
  }
}
