h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

.container-fluid {
  padding: 2% 15%;
}

/* Шапка сайта */
#title {
  background-image: url(../css/bck/titletest.png);
  height: 650px;
}

@media (max-width: 990px) {
  #title {
    height: 900px;
  }
}

.navbar {
  background-color: #23C2A7;
}

#title .name {
  font-family: 'Lobster', cursive;
  font-size: 1.8rem;
  font-weight: bold;
  transform: rotate(-15deg);
  margin-left: 20px;
  line-height: 1.9rem;
  color: #C46641;
}

#title .name:hover {
  color: #914C30;
}

.menu {
  font-family: 'Philosopher', sans-serif;
  font-size: 1.4rem;
}

.text-title {
  color: #C46641;
}

.body-title {
  margin-top: 40px;
}

.bodytitle {
  margin-top: 170px;
  text-align: left;
}

@media (max-width: 990px) {
  .bodytitle {
    text-align: center;
  }
}

.butt {
  margin: 5% 3% 5% 0%;
  font-family: 'Roboto Slab', serif;
  background-color: #ff4c68;
  border-color: #ff4c68;
}

.butt:hover {
  background-color: #B8374A;
  border-color: #B8374A;
}

.video {
  border-radius: 10%;
  width: 100%;
  margin-left: 60px;
}

@media (max-width: 990px) {
  .video {
    margin-left: 0px;
  }
}

/* Представление сайтика/контент */
#intro .container-fluid {
  padding: 7% 15%;
  background-color: #fff;
  text-align: center;
}


.three {
  font-family: 'Philosopher', sans-serif;
  font-size: 2rem;
}

.text-three {
  font-family: 'Philosopher', sans-serif;
  font-size: 1.15rem;
}

.icon {
  color: #9BE0D9;
}

.icon:hover {
  /* color: #27496d; */
  color: #00909e;
}

/* Главная часть страницы с некой информацией */
#main {
  background-color: #abf0e9;
}

.mainheader {
  font-family: 'Philosopher', sans-serif;
  font-size: 3rem;
  text-align: left;
}

.header {
  font-family: 'Philosopher', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.foto {
  width: 30%;
}

.table_pic {
  width: 15%;
  /* margin: 0 20px 20px 0; */
}
